<web-app>
    <servlet>
        <servlet-name>InsuranceServlet</servlet-name>
        <servlet-class>InsuranceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsuranceServlet</servlet-name>
        <url-pattern>/InsuranceServlet</url-pattern>
    </servlet-mapping>
</web-app>
